@inherits Umbraco.Web.Mvc.UmbracoViewPage<SymbolItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="row" id="single-symbol-page-header" style="text-align:center">
    <div class="col-12" style="margin-bottom:50px">
        <h1>@Model.Title (@Model.Name)</h1>
    </div>
</div>


@{
    var imageFile = Model.ImageFile;
    var mediaFile = Umbraco.TypedMedia(imageFile.Id);

    var height = mediaFile.GetPropertyValue<int>("umbracoHeight");
    var width = mediaFile.GetPropertyValue<int>("umbracoWidth");

    var cropUrl = "";
    var imageWith = 0;
    if (width >= height)
    {
        imageWith = 800;
    }
    else
    {
        imageWith = 600;


    }
    int xs = (int) (imageWith * 0.4);
    int sm = (int)(imageWith * 0.6);
    int md = (int)(imageWith * 0.8);
    int lg = (int)(imageWith * 1);
}

<div class="row">
    <div class="col-12" style="text-align:center;">

        <figure class="item" style="margin-left: auto; margin-right: auto;">

            <img srcset="@Model.GetCropUrl(xs, null, "imageCrop") 320w, @Model.GetCropUrl(sm, null, "imageCrop") 480w, @Model.GetCropUrl(md, null, "imageCrop")  680w" sizes="(max-width: 320px) 310px, (max-width: 480px) 460px, 800px" src="@Model.GetCropUrl(imageWith, null, "imageCrop")" alt="The Third Testament" style="width:auto;height:auto;max-width:100%;max-height:100%;border:solid 1px" />
            <figcaption class="caption" style="max-width:@(md)px"> @Model.SymbolTitle. ©&nbsp;Martinus&nbsp;Institut</figcaption>
        </figure>
    </div>
</div>


<div class="row">
    @*Left panel *@
    @{
        var selection = Model.Parent.Children.Where(x => x.IsVisible()).OrderBy(x => x.GetPropertyValue<int>("SymbolNo"));

    }

    <div class="col-md-4 order-2 order-md-1">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Other Symbols</h3>
                <ul class="symbol-item-symbol-list">
                    @foreach (var symbolItem in selection)
                    {
                        <li>
                            <a href="@symbolItem.Url">@symbolItem.Name</a>: @symbolItem.GetPropertyValue("Title")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-8  order-1 order-md-2" style="padding-bottom:2em;">
        <h2>A Short Explanation of @Model.Name. @Model.Title</h2>
        @Model.Explanation
    </div>
</div>
